body {
  color: #222926;
  background-color: #e7fffa;
  font-family:'Times New Roman', Times, serif;
    border: 2px solid #315fae;
}
.subtitle { color: rgb(6, 80, 149); }
#page-title { font-size: 48px; color: navy; }
#my-name {
  color: navy;
  font-size: 40px;
}
.subtitle {
  border: 2px solid black;
  padding: 20px;
  margin: 40px;
}
.favorites-list {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
}

